{{!-- <div class="container">
    <table>
        <thead>
            <tr>

                <th>Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Gender</th>

            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.dob}}</td>
                <td>{{this.gender}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div> --}}